.btn {
    cursor: pointer;
    height: 40px;
    padding: 0 15px;
    border: none;
    font-weight: 700;
    color: var(--white);
    background-color: var(--green);
}
.btn:hover {
    background-color: #94d300;
}