nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--white);
    color: var(--grayDark);
    height: 40px;
    margin-bottom: 40px;
    width: 100vw;
    gap: 30%;
    z-index: 1;
    .menu-left {
        display: flex;
        img {
            padding-right: 30px;
        }
    }
    .menu-right {
        display: flex;
        font-size: 1.2rem;
    }
    ul {
        display: flex;
        align-items: center;
        a {
            padding: 10px 10px 10px 5px;
            color: var(--grayDark);
        }
        a:last-child {
            padding-right: 6rem;
        }
        a:hover {
            color: #2e2e2e;
        }
    }
}