:root {
    --white: #ffffff;
    --black: #000000;
    --grayDark: #5f5f5f;
    --gray: #eeeeee;
    --green: #83bc00;
    --greenDark: #76b900;
}

* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}
body {
    height: 100vh;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);

    .btn{
        cursor: pointer;
        height: 40px;
        padding: 0 15px;
        border: none;
        font-weight: 700;
        color: var(--white);
        background-color: var(--green);
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: var(--white);
        color: var(--grayDark);
        height: 40px;
        margin-bottom: 40px;
        width: 100vw;
        gap: 30%;
        z-index: 1;
        .menu-left {
            display: flex;
            img {
                padding-right: 30px;
            }
        }
        .menu-right {
            display: flex;
            font-size: 1.2rem;
        }
        ul {
            display: flex;
            align-items: center;
            a {
                padding: 10px 10px 10px 5px;
                color: var(--grayDark);
            }
            a:last-child {
                padding-right: 6rem;
            }
            a:hover {
                color: #2e2e2e;
            }
        }
    }
    header {
        padding-top: 40px;
        #slider {
            display: flex;
                width: 5300px;
                .slide {
                    overflow: hidden;
                    position: relative;
                    .imgSlide{
                        width: 100vw;
                        height: 580px;
                    }
                    .text {
                        display: inline-block;
                        position: absolute;
                        top: 160px;
                        left: 90px;
                    }
                    h2 {
                        font-size: 5rem;
                        padding-bottom: 10px;
                        max-width: 700px;
                        color: var(--green);
                    }
                    p {
                        color: var(--white);
                        max-width: 520px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .anuncio{
            display: flex;
            justify-content: center;
            margin: 15px 0;
            padding-bottom: 10px;
            background-color: var(--gray);
            img{
                height: 90px;
                padding-right: 15px;
            }
            .textAside{
                h3{
                    font-size: 2.5rem;
                    padding: 5px 0;
                }
                p{
                    font-size: 1.3rem;
                    max-width: 750px;
                    line-height: 22px;
                    padding-bottom: 15px;
                }
                #btnAnuncio{
                    font-size: 1.5rem;
                }
            }
        }
        .containerCards{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--gray);
            h2{
                color: var(--green);
                font-size: 3.4rem;
                padding-top: 35px;
                padding-bottom: 15px;
                font-weight: 100;
            }
            .carouselCards{
                display: flex;
                gap: 25px;
            }
        }
    }

